<div class="home-container">
  <div class="content-wrap">
    <div class="buttons d-flex justify-content-between">
      <%= link_to 'Go Back', lists_path, class: "m-3 btn btn-flat" %>
      <div class="add-button align-self-center mr-3">
        <%= link_to  movies_path do %>
          <i class="fa-solid fa-circle-plus fa-2xl" style="color: #f5c518"></i>
        <% end %>
      </div>
    </div>
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>
    <div class="cards-show">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="card-show">
          <%= link_to movie_path(movie), class:"text-decoration-none" do %>
            <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
            <div class="p-2 rounded-bottom d-flex flex-column">
              <strong><span class="text-muted font-weight-normal"> <i class="fas fa-star star-yellow"></i> <%= movie.rating %> </span></strong>
              <strong class="text-white"><%= movie.title %> </strong>
              <div class="d-flex align-items-end justify-content-between pt-4">
                <div>
                  <i class="fa-solid fa-quote-left" style="color: white"></i> <small class="flex-grow-1 text-muted">  <%= bookmark.comment %></small>
                </div>
              </div>
            </div>
          <% end %>
          <div class="delete-button">
            <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this movie?" }, class: 'text-right flex-shrink-0' do %>
              <i class="fa-solid fa-trash-can fa-xl" style="color: white;"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
