
  <%
=begin%>
 <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal"> • <i class="fas fa-star star-yellow"></i> <%= movie.rating %> </span></strong>
            <small class="text-muted"><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fa-solid fa-quote-left" style="color: black"></i></i><small class="flex-grow-1">  <%= bookmark.comment %></small>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr class="my-5">
<%
=end%>
<i class="fa-solid fa-quote-left"></i>







<div class="container">
  <div class="content-wrap">
      <div>
        <%= link_to 'Add Movie', new_list_bookmark_path(@list), class: "m-3 btn btn-flat" %>
        <%= link_to "Delete this list", list_path(@list), class: "m-3 btn btn-flat", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
      </div>
      <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>
      <div class="cards-show">
        <% @list.movies.each do |movie| %>
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <div class="card-show">
              <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
              <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><span class="text-muted font-weight-normal"> <i class="fas fa-star star-yellow"></i> <%= movie.rating %> </span></strong>
              <strong><%= movie.title %> </strong>
              <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fa-solid fa-quote-left" style="color: white"></i> <small class="flex-grow-1 text-muted">  <%= bookmark.comment %></small>
              </div>
            </div>
              </div>
                <div class="delete-button">
                  <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this movie?" }, class: 'text-right flex-shrink-0' do %>
                  <i class="fa-solid fa-trash-can" style="color: white;"></i>
                 <% end %>
                </div>
            </div>
          <% end %>
      </div>
  </div>
  </div>
    <%= render "shared/footer"%>
</div>
