<div class="row justify-content-center mt-3">
  <div class="col-sm-8 my-3">
    <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="home-container">
  <div class="row justify-content-center">
    <div id="movies" class="cards-show">
      <% if @movies.any? %>
        <% @movies.each do |movie| %>
          <div class="card-show">
            <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
            <div class="p-2 rounded-bottom d-flex flex-column">
              <strong><span class="text-muted font-weight-normal"> <i class="fas fa-star star-yellow"></i> <%= movie.rating %> </span></strong>
              <strong><%= movie.title %> </strong>
            </div>
            <div class="delete-button">
              <%= link_to new_movie_bookmark_path(movie) do %>
                <i class="fa-regular fa-bookmark fa-xl" style="color: white;"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <em>Sorry, no movies found.</em>
      <% end %>
    </div>
  </div>
</div>
